.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.navbar-logo {
  color: #fff;
  margin-left: 20px;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.fa-store {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: end;
  width: 50vw;
  margin-right: 2rem;
}
.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}
.nav-links {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  border-radius: 8px;
}
.nav-links-dropdown {
  padding: 25px 1rem;
  text-decoration: none;
  color: white;
}
.nav-links:hover, .nav-links-dropdown:hover {
  border-bottom: 5px solid #1888ff;
  padding: 25px 1rem;
  background: linear-gradient(to bottom, rgb(0, 0, 0),rgb(150,150,150));
  transition: all 0.5s ease-out;
  border-radius: 18px;
}

.menu-icon {
  display: none;
}
.nav-links-mobile {
  display: none;
}
@media screen and (max-width: 992px) {
  .navbar-item {
    position: relative;
  }
  .nav-links,
  .nav-links-dropdown {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1300px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10%, 100%);
    font-size: 1rem;
  }
  .nav-links:hover,
  .nav-links-dropdown:hover {
    background-color: #1888ff;
    border-radius: 8px;
  }
  .menu-icon {
    color: white;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #1888ff;
    border-radius: 8px;
    width: 80%;
  }
  .nav-links-mobile:hover {
    background-color: #fff;
    color: #1888ff;
    transition: 0.5s;
  }
  .fa-caret-down {
    display: none;
  }
  .btn {
    display: none;
  }
}
