:root {
    --titleColor: #ffea00;
}
.mainContent-container {
    width: 80vw;
    height: 880px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    margin-bottom: 50px;


}
.inven-container {
    width: 80vw;
    background: #000000;
    border-radius: 6px;
    height: 800px;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: 400px 400px;
    padding: 1vw;
}
.item-thumb {
    width: 100%;
    height: 200px;
}
.item-container {
    background: #1f2228;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: 18vw;
    height: 380px;
    grid-column: span 1;
    font-size: 16px;
    padding: 1vw;
    align-items: center;
}
.item-info-container {
    display: grid;
    grid-template-columns: 8vw 3.5vw 4.5vw;
    grid-template-rows: 60px 50px;
}
.item-rank {
    grid-column: 1/3;
    align-self: center;
}
.item-rank-img {
    width: 3vw;
    align-self: center;
}
.item-price {
    color: var(--titleColor);
    grid-column: 2/4;
    align-self: center;
    text-align: center;
}
.item-skin-num {
    align-self: center;
}
.buy-button {
    width: 100%;
    height: 42.6px;
    border-radius: 6px;
    background-color: var(--titleColor);
    outline: none;
    border:none;
    cursor: pointer;
}
.buy-button:hover {
    background-color: transparent;
    border: 2px solid var(--titleColor);
    color: var(--titleColor);
    transition: all 0.3s ease;
}
@media screen and (max-width: 992px) {
    .inven-container {
        grid-template-columns: 40vw 40vw;
    }
    .item-container {
        width: 38vw;
        font-size: 2.5vw;
    }
    .item-info-container {
        grid-template-columns: 18vw 7.875vw 11.125vw;
    }
}